h1{
    color:#FFB957;
    font-size:4rem;
    
}

h2{
    color:#FFB957

}

body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color:#1C618C;
    color:#ffffff;
    
    margin:0;
}

.quickguide{
padding: 2rem;
background-color: #ffffff;
color:#1C618C;


}

.contactdetails
{
    padding: 2rem;
    background-color: #ffffff;
    color:#1C618C;#1C618C;
}

#profile-pic{

    border-width: 0.5rem;
    border-color: #FFB957;
    border-style: solid;
    border-radius: 20%;
    margin-left: 2rem;
    margin-bottom: 2rem;
    
 
    
}

header{

padding-left: 2rem;

font-family: Verdana, Tahoma, sans-serif;
font-size: 2rem;

}

.Hero
{
    margin:0%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1C618C;
    background-image: url("../../images/Hero-Landscape.png");
    background-size: cover;
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    
}
