
.Hero
{   
    text-align: center;
    margin:0%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1C618C;
    background-image: url("../../images/pattern.jpg");
    background-size: cover;
    background-blend-mode:multiply;
   
   
    
}


h1{
    color:#FFB957;
    font-size:4rem;
    
}

h2{
    color:#FFB957;
    text-align: center;
    

}

body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color:#1C618C;
    color:#ffffff;
    
    margin:0;
}

.quickguide{

padding: 2rem;
background-color: #ffffff;
color:#1C618C;


}

.contactdetails
{
    padding: 2rem;
    background-color: #ffffff;
    color:#1C618C;#1C618C;
}

#profile-pic{

    border-width: 0.5rem;
    border-color: #FFB957;
    border-style: solid;
    border-radius: 20%;
    margin-left: 2rem;
    margin-bottom: 2rem;
    
 
    
}

header{

padding-left: 2rem;

font-family: Verdana, Tahoma, sans-serif;
font-size: 2rem;

}

@media only screen and (min-width:768){

    .list{
        display: flex;
        justify-content: space-around ;
    }

}
@media only screen and (min-width: 992px){

    .list{
        display: flex;
        justify-content: space-around ; font-size: 2em;
    }
    
    .edu{
        display: flex;
        justify-content:center;
        margin:2rem;
        text-align: left;
    }

    body {
       font-size: 1em;
    }
    
}
    
