h1{
    color:#FFB957
}

h2{
    color:#FFB957

}

body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color:#1C618C;
    color:#ffffff

}

.quickguide

{
background-color: #ffffff;
color:#1C618C;

}

.contactdetails
{
    background-color: #ffffff;
    color:#1C618C;
}